@{
    ViewBag.Title = "Reset Password";
}

<div class="jumbotron">
    <h3>Reset Password</h3>
    @*<p class="lead">Reset your Active Directory password here.</p>*@
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="well">
            <p>@ViewBag.Message</p>
            @*<header>Credentials</header>
            <fieldset>
                <section>
                    <label class="label">USER ID</label>
                    <label class="input">
                        @Html.TextBoxFor(m => m.UserId, new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(m => m.UserId, "", new { @style = "color:red;!important" })
                        @Html.ValidationSummary(true, "", new { @style = "color:red;!important;" })
                    </label>
                </section>
                <section>
                    <label class="label" style="padding-left: 0px;">PASSWORD</label>
                    <label class="input">
                        @Html.PasswordFor(m => m.Password, new { id = "txtBxUserPass" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red;!important" })
                        @Html.ValidationSummary(true, "", new { @style = "color:red;!important;" })
                        <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b>
                    </label>
                </section>
                <section>
                    <label class="label-success">@ViewBag.Message</label>
                </section>
                <footer>
                    <button type="submit" value="submit" name="submit" class="btn btn-primary btn-lg btn-block">
                        Reset Password
                    </button>
                </footer>
            </fieldset>*@
        </div>
    </div>
</div>